"addons/kotoba/translator_config.txt"  
"addons/kotoba/translations.db"  
"addons/kotoba/__pycache__/"  
"addons/kotoba/translator_config.txt"  
"addons/kotoba/translations.db"  
"addons/kotoba/__pycache__/"  
